<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ufopaoriximina.projcadfish">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.cadastros_usuarios.cadastro_pescador.Passo5CdPescador"></activity>
        <activity android:name=".activity.cadastros_usuarios.cadastro_pescador.Passo4CdPescador" />
        <activity android:name=".activity.cadastros_usuarios.cadastro_guia.Passo5CdGuia" />
        <activity android:name=".activity.cadastros_usuarios.cadastro_guia.Passo4CdGuia" />
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_pescador.Passo3CdPescador"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_pescador.Passo2CdPescador"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_guia.Passo3CdGuia"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_guia.Passo2CdGuia"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_pescador.Passo1CdPescador"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.cadastros_usuarios.cadastro_guia.Passo1CdGuia"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/IntroActivity" />
        <activity
            android:name=".activity.UserCadastroActivity"
            android:parentActivityName=".activity.LoginActivity"
            android:theme="@style/MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>